
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.traffic-light{
    background: black;
    padding: 15px;
    display: inline-block;
    margin: auto;
 
}


.red {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: red;
    margin-bottom: 4px;
}
.yellow{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: yellow;
    margin-bottom: 4px;
}

.green{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: green;
}
.selected {
    box-shadow: 0px 0px 20px 5px #747DE8;
}
